footer {
  .row {
    justify-content: center;
  }

  .footer-inner-wrap {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  .footer-l1 {
    background-color: #6a6a6a;
    width: 100%;
  }
}
